*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

code,
pre {
  font-family: Consolas, Monaco, Menlo, Consolas, 'Courier New', monospace;
}
